<div class="mainContent">


  <div class="upper">

    <h1 class="title">
      Tod’
    </h1>
    <img src="assets/LogoSansBg.png" alt="logo de tod'app">
    <h1 class="title">App</h1>
  </div>
  <form [formGroup]="formGroup" class="connection-form">
    <!-- How we can force formgroup.get('username') return a formcontrol and not an abstract ?-->



    <app-user-input label="Pseudonyme" name="username" [controle]="getFormControl('username')" [errorMessage]="'Le pseudonyme est requis.'"></app-user-input>
    <app-user-input label="Mot de passe" name="password" [controle]="getFormControl('password')" [errorMessage]="'Le Mot de passe est requis.'"></app-user-input>


    <button class="default_button" (click)="connect()">Se connecter</button>


  </form>

  <div class="create-account">
    Créer un compte
  </div>

</div>
