.main{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.connection-form {
  min-width: 150px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  height: 50%;
}
.upper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 35%;
}

.logo{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;


}
.mainContent{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100vh;
}

.connect{
  font-family: 'Quicksand', sans-serif;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15%;
}

.inputs{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
.title{
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  font-weight: bold;
  font-size: 2em;
}
img{
  height: 17vh;

}

h3{
  font-family: 'Quicksand', sans-serif;
  font-weight: lighter;
  font-size: 1.5em;
  display: inline;
  text-align: center;
  width: 70%;
  margin: 0;
}




.create-account{
  font-size: 1.3em;
  text-align: center;
}


.default_input{
  width: 100%;
  height: 5vh;
  border-radius: 5px;
  font-size: 1.2em;
  font-family: 'Quicksand', sans-serif;
  color: #fff;
}

.default_label{
  font-size: 1.5em;
  height: 30%;
  font-weight: lighter;
  color: #fff;

}

.default_form-field,app-user-input{
 display: flex;
 flex-direction: column;
 width: 40%;
 height: 13vh;
 align-items: flex-start;

}
