<div class="mainContent">


  <div class="upper">

      <div class = "logo">
        <h1 class="title">
          Tod’
        </h1>
        <img src="assets/LogoSansBg.png" alt="logo de tod'app">
        <h1 class="title">App</h1>
      </div>

      <h3>
        Veuillez saisir vos informations personnelles
      </h3>



  </div>
  <form class="connection-form">
    <div class="inputs">

    <div class="default_form-field">

      <label class="default_label" for="LastName">Nom</label>
      <input class="default_input" type="text" id="LastName" formControlName="LastName">

    </div>

    <div class="default_form-field">

      <label class="default_label" for="FirstName">Prénom</label>
      <input class="default_input" type="text" id="FirstName" formControlName="FirstName">

    </div>

    <div class="default_form-field">

      <label class="default_label" for="Phone">Téléphone</label>
      <input class="default_input" type="text" id="Phone" formControlName="Phone">

    </div>

    <div class="default_form-field">

      <label class="default_label" for="Email">Email</label>
      <input class="default_input" type="text" id="Email" formControlName="Email">

    </div>

    <div class="default_form-field">

      <label class="default_label" for="Nickname">Pseudo</label>
      <input class="default_input" type="text" id="Nickname" formControlName="Nickname">

    </div>


    <div class="default_form-field">

      <label class="default_label" for="Password">Mot de passe</label>
      <input class="default_input" type="password" id="Password" formControlName="Password">

    </div>
    </div>

    <button class="default_button">S'inscrire</button>


  </form>

  <div class = "connect">
    Me connecter
  </div>




</div>
