<div class="mainContent">


  <div class="upper">

      <div class = "logo">
        <h1 class="title">
          Tod’
        </h1>
        <img src="assets/LogoSansBg.png" alt="logo de tod'app">
        <h1 class="title">App</h1>
      </div>

      <h3>
        Veuillez saisir vos informations personnelles
      </h3>



  </div>
  <form class="connection-form">

    <div class="default_form-field">

      <label class="default_label" for="Nickname">Pseudonyme</label>
      <input class="default_input" type="text" id="Nickname" formControlName="Nickname">

    </div>
    <div class="default_form-field">

      <label class="default_label" for="Password">Mot de passe</label>
      <input class="default_input" type="password" id="Password" formControlName="Password">

    </div>

    <button class="default_button">Créer un compte</button>


  </form>


</div>
